*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font-family: 'Clash Grotesk', sans-serif;
  font-size: .75rem;
  line-height: 1.5;
  font-weight: 500;
  background-color: white;
}

@supports (-webkit-touch-callout: none) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: -webkit-fill-available;
  }
}

abbr[title] {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

#not_supported {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
#not_supported svg {
  width: 1.5rem;
  height: 1.5rem;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  text-transform: inherit;
  color: crimson;
  border: .125rem solid;
  border-radius: 9999px;
  padding: .125rem .5rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03125rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toggle {
  box-sizing: content-box;
  display: inline-flex;
  padding: .125rem;
  border: .125rem solid #ccc;
  border-radius: 9999px;
  width: 2rem;
  background-color: #e6e6e6;
}

.toggle__handle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border: .125rem solid #ccc;
  background-color: white;
  transition-property: transform;
  transition-duration: .2s;
}

input[type="checkbox"]:checked ~ .toggle .toggle__handle {
  transform: translateX(100%)
}

input[type="checkbox"]:checked ~ .toggle--sample {
  background-color: crimson;
  border-color: #980d27;
}

input[type="checkbox"]:checked ~ .toggle--sample .toggle__handle {
  border-color: #980d27;
}

input[type="checkbox"]:checked ~ .toggle--loop {
  background-color: lightseagreen;
  border-color: #1a8e88;
}

input[type="checkbox"]:checked ~ .toggle--loop .toggle__handle {
  border-color: #1a8e88;
}

div.select {
  position: relative;
}

div.select svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: .125rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: .125rem solid #999;
  border-radius: .25rem;
  padding: .125rem 1rem .125rem .25rem;
  line-height: 1rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  width: 100%;
}

input,
select,
.toggle {
  --focus-ring-color: #82d4cf;
  --focus-border-color: #1a8e88;
}

.toggle--sample,
button {
  --focus-ring-color: #f68ea2;
  --focus-border-color: #980d27  ;
}

input:focus,
button:focus,
select:focus,
input[type="checkbox"]:focus ~ .toggle {
  outline: none;
  border-color: var(--focus-border-color);
  box-shadow: 0 0 0 .125rem var(--focus-ring-color);
}

.controls {
  padding: .5rem;
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
}

.controls > * + * {
  margin-left: 1rem;
}

#samples {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: .5rem;
  margin: .5rem;
}

#samples > * {
  flex: 1 1 auto;
}

.sample {
  --bg-color: white;
  --color: black;
  --remaining-color: gray;
  --progress-color: hotpink;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: .125rem solid #ccc;
}

.sample--playing {
  border-color: black;
}
.sample--pre-roll {
  border-color: hotpink;
  outline: .125rem solid hotpink;
}
.sample--recording {
  border-color: crimson;
  outline: .125rem solid crimson;
}

.sample__meta {
  margin: 0;
  padding: .25rem .375rem;
  display: flex;
  align-items: center;
}

.sample__meta > * {
  margin: 0;
}

.sample__meta dt svg {
  width: 1.125rem;
  height: 1.125rem;
  display: block;
  margin-right: .0625rem;
}

.sample__meta dd + dt {
  margin-left: .5rem;
}

.sample__waveform {
  flex: 1 1 auto;
  position: relative;
  margin: 0 .125rem;
}

canvas {
  display: block;
  background: var(--bg-color);
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

progress[value] {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  background-color: transparent;
  opacity: 0;
}
progress[value]::-webkit-progress-value {
  background-color: var(--progress-color);
}
progress[value]::-moz-progress-bar {
  background-color: var(--progress-color);
  border-right: .125rem solid;
}
